<% if article %>
<div class='ltag__link'>
  <% if autopost.video && autopost.cloudinary_video_url %>
  <a href='<%= autopost.path %>' class="video-image" style="background-image: url(<%= autopost.cloudinary_video_url %>)">
    <span class="video-timestamp">
      <img src="<%= asset_path("video-camera.svg") %>" alt="video camera">
      <%= autopost.video_duration_in_minutes %></span>
  </a>
  <% end %>
  <% if autopost.organization %>
  <a href='<%= autopost.organization.path %>' class='ltag__link__link'>
    <div class='ltag__link__org__pic'>
      <img src='<%= Images::Profile.call(autopost.organization.profile_image_url, length: 150) %>' alt='<%= autopost.organization.name.to_s %>'>
      <div class='ltag__link__user__pic'>
        <img src='<%= Images::Profile.call(autopost.user.profile_image_url, length: 150) %>' alt=''>
      </div>
    </div>
  </a>
  <a href='<%= autopost.path %>' class='ltag__link__link'>
    <div class='ltag__link__content'>
      <h2><%= title %></h2>
      <h3><%= autopost.user.name %><%= t("views.articles.for_org_html", org: autopost.organization.name, start: "", end: "") %> ・ <%= autopost.readable_publish_date %> ・ <%= t("views.articles.reading_time", count: autopost.reading_time < 2 ? 1 : autopost.reading_time) %></h3>
      <div class='ltag__link__taglist'>
      <% autopost.tag_list.each do |t| %>
        <span class='ltag__link__tag'>#<%= t %></span>
      <% end %>
      </div>
    </div>
  </a>
  <% else %>
  <a href='<%= autopost.user.path %>' class='ltag__link__link'>
    <div class='ltag__link__pic'>
      <img src='<%= Images::Profile.call(autopost.user.profile_image_url, length: 150) %>' alt='<%= autopost.user.username.to_s %>'>
    </div>
  </a>
  <a href='<%= autopost.path %>' class='ltag__link__link'>
    <div class='ltag__link__content'>
      <h2><%= title %></h2>
      <h3><%= autopost.user.name %> ・ <%= autopost.readable_publish_date %> ・ <%= t("views.articles.reading_time", count: autopost.reading_time < 2 ? 1 : autopost.reading_time) %></h3>
      <div class='ltag__link__taglist'>
      <% autopost.tag_list.each do |t| %>
        <span class='ltag__link__tag'>#<%= t %></span>
      <% end %>
      </div>
    </div>
  </a>
  <% end %>
</div>
<% else %>
<div class='ltag__link'>
  <div class='ltag__link__content'>
    <div class='missing'>
      <h2><%= t("views.articles.missing") %></h2>
    </div>
  </div>
</div>
<% end %>
