<div class="liquid-tag__link-with-preview">
<a href="<%= url %>"><%= url %></a>
<blockquote class="liquid-tag__link-preview">
  <% case type %>
  <% when "photo" %>
    <% if defined?(title) %>
      <h4><%= title %></h4>
    <% end %>
    <figure>
      <img src="<%= url %>" width="<%= width %>"  height="<%= height %>" />
      <figcaption><%= description %></figcaption>
    </figure>

  <% when "video" %>

    <%= html.html_safe %>

  <% when 'link' %>

    <% if defined?(html) %>
      <%= html.html_safe %>
    <% else %>
      <% if defined?(title) && title %>
        <h4><%= title %></h4>
      <% end %>
      <p>
        <% if defined?(description) && description %>
        <%= description %>
        <% end %>
        <% if defined?(thumbnail_url) %>
          <img src="<%= thumbnail_url %>" <% if defined?(thumbnail_width) %> width="<%= thumbnail_width %>"<% end %> <% if defined?(thumbnail_width) %> height="<%= thumbnail_height %>"<% end %> alt="" />
        <% end %>
      </p>
    <% end %>

  <% when 'rich' %>

    <%= html.html_safe %>

  <% else %>

  <% end %>
</blockquote>
</div>