<% title "Generate Article with GhostWriter" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/ghostwriter") %>" />
  <meta name="description" content="Generate Article with GhostWriter">
  <%= meta_keywords_default %>

  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= app_url("/ghostwriter") %>" />
  <meta property="og:title" content="Generate Article with GhostWriter" />
  <meta property="og:site_name" content="<%= community_name %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= Settings::General.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="Generate Article with GhostWriter">
<% end %>

<div class="crayons-layout crayons-layout--limited-l ghostwriter-page">
  <div class="crayons-card text-padding">
    <h1 class="fs-3xl s:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight mb-4 mt-0">Search By Keyword</h1>

    <p>
      Search keywords and generate an article based on them.
    </p>

    <div class="p-4">
      <%= form_tag("/search-new", :method => "get", :id => "gwSearchForm", :name => "gwSearchForm") do %>
        <div class="flex flex-row items-center">
          <%= label_tag :q, "Search for:", class: "crayons-field__label whitespace-nowrap hidden xs:inline-block"  %>
          <%= text_field_tag :q, params[:q], class: "crayons-textfield", required: true %>
          <button type="submit" class="crayons-btn" id="gwSearchFormSubmit">Search</button>
        </div>
      <% end %>
    </div>

    <div class="crayons-card crayons-card--secondary p-4 m:p-6">
      <% if @autosuggests.length > 0  %>
        <%= form_tag("/ghostwriter", :method => "post", :id => "gwKeywordsForm", :name => "gwKeywordsForm") do %>
          <%= hidden_field_tag  :q, params[:q] %>
          <ul class="keyword-suggestion-list">
            <% @autosuggests.each do |keyword| %>
              <li class="keyword-suggestion">
                <label>
                  <%= check_box_tag "keywords[]", keyword, false %>
                  <span><%= keyword %></span>
                </label>
              </li>
            <% end %>
          </ul>

          <div class="crayons-fields crayons-fields--horizontal" style="padding: 20px">
            <div class="crayons-field">
              <label class="crayons-field__label">Site:</label>
              <input name="site" class="crayons-textfield" placeholder="reddit.com" />
            </div>
            <div class="crayons-field">
              <label class="crayons-field__label">Time:</label>
              <select name="serp_google_tbs_qdr" class="crayons-select">
                <option value="">Any time</option>
                <option value="y">Past 1 year</option>
                <option value="m" selected>Past 1 month</option>
                <option value="w">Past 1 week</option>
                <option value="d">Past 1 day</option>
                <option value="h">Past 1 hour</option>
              </select>
            </div>
          </div>

          <div class="p-6 text-right">
            <%= submit_tag "Suggest an Article Content", class: "crayons-btn", id: "gwKeywordsFormSubmit" %>
          </div>
        <% end %>
      <% else %>
        <p></p>
      <% end %>
    </div>

    <div id="wait-ghostwriter-response-modal" class="hidden">
      <div class="crayons-modal crayons-modal--s">
        <div class="crayons-modal__box">
          <header class="crayons-modal__box__header">
            <h2 class="fs-l fw-bold mt-0 mb-0">
              Generating Text...
            </h2>
          </header>
          <div class="crayons-modal__box__body text-center">
            <img class="loading-img" src="<%= asset_path("loading-ellipsis.svg") %>" alt="loading">
          </div>
        </div>
        <div class="crayons-modal__overlay"></div>
      </div>
    </div>
  </div>
</div>


<script>
  (function() {
    var searchForm = document.forms['gwSearchForm'];
    var keywordsForm = document.forms['gwKeywordsForm'];
    var waitModal = document.getElementById('wait-ghostwriter-response-modal');
    var doSubmit = false;

    function showWaitingModal(title) {
      waitModal.querySelector('header h2').innerText = title;
      waitModal.classList.remove('hidden');
    }

    searchForm.onsubmit = function() {
      if (doSubmit) {
        return true;
      }
      else {
        document.getElementById('gwSearchFormSubmit').disabled = true;
        showWaitingModal('Searching...');
        setTimeout(function() { searchForm.submit() }, 0);
        return false;
      }
    };

    keywordsForm && (keywordsForm.onsubmit = function() {
      if (doSubmit) {
        return true;
      }
      else {
        document.getElementById('gwKeywordsFormSubmit').disabled = true;
        showWaitingModal('Generating Text...');
        setTimeout(function() { keywordsForm.submit() }, 0);
        return false;
      }     
    });
  })();
</script>