<style>
  .article-body-html img {
    max-width: 100%;
  }
</style>

<% decorated_autopost = autopost.decorate %>

<div class="card my-3"
     data-controller="autopost"
     data-autopost-id-value="<%= autopost.id %>"
     data-autopost-bg-highlighted-class="bg-highlighted"
     data-autopost-border-highlighted-class="border-highlighted"
     data-action="ajax:success@document->autopost#ajaxSuccess">

  <div class="card-header">
    <h2>
      <a href="<%= autopost.path %>" target="_blank" rel="noopener">
        <%= autopost.title %>
      </a>
    </h2>

    <div>
      <a href="<%= autopost.path %>/edit" target="_blank" rel="noopener"><span class="btn btn-sm btn-primary">Edit</span></a>

      <a class="btn btn-sm btn-secondary" href="<%= admin_user_path(autopost.user_id) %>" target="_blank" rel="noopener">Manage User</a>

      <a href="<%= admin_user_path(autopost.user_id) %>" class="badge badge-light">@<%= autopost.user&.username %></a>

      <span class="badge badge-light">
        <%= autopost.published_at&.strftime("%b %d, %Y") %>
      </span>

      <% decorated_autopost.cached_tag_list_array.each do |tag| %>
        <a class="badge badge-secondary" href='<%= tag_path(tag) %>'>#<%= tag %></a>
      <% end %>
    </div>
  </div>

  <% background_color = "" %>

  <div
    data-autopost-target="cardBody"
    class="card-body <%= background_color %> <%= "bg-danger" if !autopost.published? && autopost.published_from_feed? %>">

    <% if autopost.video %>
    <h2>Contains Video</h2>
    <% end %>

    <% cache "admin-user-info-#{autopost.user_id}-#{autopost.user&.updated_at}", expires_in: 4.hours do %>

    <% if autopost.user&.warned? %>
    <h2><span class="badge badge-warning">USER WARNED</span></h2>
    <% end %>

    <% if autopost.user&.notes&.any? %>
    <h2>User Notes (<%= autopost.user&.notes&.size %> total)</h2>
    <% autopost.user&.notes&.last(3)&.each do |note| %>
    <p>
      <em><%= note.created_at.strftime("%d %B %Y %H:%M UTC") %> by
        <%= note.author_id ? User.find(note.author_id).username : "No Author" %></em> - <%= note.content %>
    </p>
    <% end %>
    <p><a href="<%= admin_user_path(autopost.user_id) %>">View All</a></p>
    <% end %>
    <% end %>
    <% if autopost.main_image.present? %>
    <div style="max-height:450px;overflow:hidden;">
      <img src="<%= cloud_cover_url(autopost.main_image) %>" style="width:100%;max-width:380px;border-radius:8px;background:<%= autopost.main_image_background_hex_color %>;" alt="cover image" loading="lazy" />
      <br />
    </div>
    <% end %>
    <%= form_with url: admin_autopost_path(autopost.id), model: autopost, local: true do |f| %>
    <div class="form-group">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="_method" value="patch" />
    </div>
    <div class="row">
      <div class="form-group col">
        <label for="author_id_<%= autopost.id %>">Author ID:</label>
        <input id="author_id_<%= autopost.id %>" class="form-control" size="6" name="autopost[user_id]"
          value="<%= autopost.user_id %>">
      </div>
    </div>
    <% if autopost.published? %>
      <div class="row">
        <div class="form-group col">
          <label for="published_at_<%= autopost.id %>">Published at:</label>
          <%= f.datetime_select :published_at, required: true, include_blank: true, include_seconds: true, class: "form-control" %> UTC
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="article_create_freq_<%= autopost.id %>">Article Create Frequency:</label>
        <select id="article_create_freq_<%= autopost.id %>" class="form-control" name="autopost[article_create_freq]" value="<%=autopost.article_create_freq %>" >
          <option value="daily">Daily</option>
          <option value="custom">Custom</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="article_create_crontab_<%= autopost.id %>">Article Create Frequency (crontab):</label>
        <input id="article_create_crontab_<%= autopost.id %>" class="form-control" name="autopost[article_create_crontab]" value="<%=autopost.article_create_crontab %>" />
      </div>
    </div>
    <div class="row">
      <div class="form-check col-md-12">
        <%= f.check_box :enable_update, id: "enable_update-#{autopost.id}" %>
        <label for="enable_update-<%= autopost.id %>">Enable Update</label>
      </div>
      <% if autopost.enable_update? %>
        <div class="form-group col-md-6">
          <label for="article_update_freq_<%= autopost.id %>">Article Update Frequency:</label>
          <select id="article_update_freq_<%= autopost.id %>" class="form-control" name="autopost[article_update_freq]" value="<%=autopost.article_update_freq %>" >
            <option value="hourly">Hourly</option>
            <option value="daily">Daily</option>
            <option value="custom">Custom</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="article_update_crontab_<%= autopost.id %>">Article Update Frequency (crontab):</label>
          <input id="article_update_crontab_<%= autopost.id %>" class="form-control" name="autopost[article_update_crontab]" value="<%=autopost.article_update_crontab %>" />
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="form-check col">
        <%= f.check_box :approved, id: "approved-#{autopost.id}" %>
        <label for="approved-<%= autopost.id %>">Approved</label>
      </div>
      <div class="col">
        <button class="btn btn-primary float-right">Submit</button>
      </div>
    </div>
    <% end %>
  </div>
</div>
