<div class="js-dashboard-story single-article <%= "single-article-unpublished" unless autopost.published %> <%= "single-article-archived hidden" if autopost.archived %>">
  <div class="dashboard-collection-org-details">
    <% if autopost.organization_id %>
      <span class="dashboard-top-pill"><%= autopost.organization&.name %></span>
    <% end %>
    <% if autopost.collection_id %>
      <span class="dashboard-top-pill"><%= t("views.dashboard.autopost.series_html", series: autopost.series) %></span>
    <% end %>
  </div>

  <div class="js-ellipsis-menu relative inline-block float-right">
    <button id="ellipsis-menu-trigger-<%= autopost.id %>" aria-controls="ellipsis-menu-dropdown-<%= autopost.id %>" aria-expanded="false" aria-haspopup="true" class="crayons-btn crayons-btn--ghost crayons-btn--s crayons-btn--icon">
      <%= inline_svg_tag("overflow-horizontal.svg", aria: true, class: "crayons-icon", title: t("views.dashboard.autopost.more.icon")) %>
    </button>

    <div id="ellipsis-menu-dropdown-<%= autopost.id %>" class="crayons-dropdown top-100 right-0 z-10 align-left js-ellipsis-menu-dropdown">
      <%= form_for(autopost, method: :patch, remote: true, authenticity_token: true, html: { "data-type": "json", class: "p-0 js-archive-toggle" }) do |f| %>
        <%= f.hidden_field :archived, value: !autopost.archived %>

        <button type="submit" class="crayons-link crayons-link--block w-100 border-0 bg-transparent">
          <%= t("views.dashboard.autopost.#{autopost.archived ? 'unarchive' : 'archive'}") %>
        </button>
      <% end %>
    </div>
  </div>

  <a href="<%= autopost.current_state_path %>"><h2>
    <%= t("views.dashboard.autopost.heading.text_html",
          archived: autopost.archived ? t("views.dashboard.autopost.heading.archived") : "",
          title: autopost.title) %>
  </h2></a>
  <div class="dashboard-meta-details">
    <% if autopost.published %>
      <span>
        <%= t("views.dashboard.autopost.published_html", date: tag.time(autopost.readable_publish_date, datetime: autopost.published_timestamp)) %>
      </span>

      <% if autopost.edited? %>
        <span>
          · <%= t("views.dashboard.autopost.edited_html", date: tag.time(autopost.readable_edit_date, datetime: autopost.edited_at.utc.iso8601)) %>
        </span>
      <% end %>

      <% autopost.cached_tag_list_array.each do |tag| %>
        <a href="/t/<%= tag %>"><span class="tag">#<%= tag %></span></a>
      <% end %>
    <% end %>
  </div>
  <div class="dashboard-actions">
    <% if !autopost.published %>
      <a href="<%= autopost.current_state_path %>" class="crayons-btn"><%= t("views.dashboard.autopost.draft") %></a>
    <% end %>
    <a href="<%= autopost.path %>/edit" class="crayons-btn"><%= t("views.dashboard.autopost.edit.text") %></a>
    <% if manage_view %>
      <a href="<%= autopost.path %>/delete_confirm" data-no-instant class="crayons-btn crayons-btn--danger"><%= t("views.dashboard.autopost.delete") %></a>
    <% elsif autopost.published %>
      <a href="<%= autopost.path %>/manage" class="crayons-btn"><%= t("views.dashboard.autopost.manage.text") %></a>
    <% elsif @user == autopost.user %>
      <a href="<%= autopost.path %>/delete_confirm" data-no-instant class="crayons-btn crayons-btn--danger"><%= t("views.dashboard.autopost.delete") %></a>
    <% end %>

    <a href="<%= autopost.path %>/stats" data-no-instant class="crayons-btn"><%= t("views.dashboard.autopost.stats") %></a>
  </div>
  <% if organization && org_admin %>
    <%= form_for(autopost) do |f| %>
      <input type="hidden" name="destination" value="/dashboard/organization/<%= organization.id %>" />
      <%= t("views.dashboard.autopost.author_is") %><%= f.select(:user_id, options_for_select(organization.users.pluck(:name, :id), autopost.user_id)) %>
      <%= f.submit t("views.dashboard.autopost.submit"), class: "crayons-btn crayons-btn--secondary" %>
    <% end %>
  <% end %>
</div>
<%= javascript_packs_with_chunks_tag "dashboardDropdowns", defer: true %>
