<div class="dashboard-story js-dashboard-story spec__dashboard-story single-article <%= "story-unpublished" unless autopost.published %> <%= "js-dashboard-story story-archived hidden" if autopost.archived %>">
  <div class="dashboard-story__title">
    <h3 class="flex items-center">
      <% if autopost.archived %>
        <span class="crayons-indicator crayons-indicator--critical mr-2 fw-normal whitespace-nowrap"><%= t("views.dashboard.autopost.archived") %></span>
      <% end %>
      <a href="<%= autopost.current_state_path %>" class="inline-flex items-center">
        <% if autopost.organization_id %>
          <span class="crayons-logo crayons-logo--s mr-2 shrink-0">
            <img class="crayons-logo__image align-top" src="<%= autopost.organization&.profile_image_90 %>" alt="<%= autopost.organization&.name %>" width="24" height="24" loading="lazy" />
          </span>
        <% end %>
        <%= autopost.title %>
      </a>
    </h3>
    <% if autopost.published %>
      <p class="fs-s color-base-60 js-dashboard-story-details">
        <strong class="fw-medium"><%= t("views.dashboard.autopost.published") %></strong>
        <%= local_date(autopost.published_timestamp, show_year: autopost.displayable_published_at.year != Time.current.year) %>
        <% if autopost.edited? %>
          <strong class="fw-medium pl-2"><%= t("views.dashboard.autopost.edited") %></strong>
          <%= local_date(autopost.edited_at, show_year: autopost.edited_at.year != Time.current.year) %>
        <% end %>
        <% if autopost.collection_id %>
          <strong class="fw-medium pl-2"><%= t("views.dashboard.autopost.series") %></strong> <%= autopost.series %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class="fs-s color-base-60">
    <% if !autopost.published? %>
      <a href="<%= autopost.path %>/edit" class="crayons-indicator crayons-indicator--accent"><%= t("views.dashboard.autopost.draft") %></a>
    <% else %>
      <div class="flex flex-nowrap whitespace-nowrap" data-analytics-pageviews data-article-id="<%= autopost.id %>">
      </div>
    <% end %>
  </div>

  <div class="dashboard-story__actions">
    <% if manage_view %>
      <a href="<%= autopost.path %>/delete_confirm" data-no-instant class="crayons-btn crayons-btn--ghost-danger crayons-btn--s"><%= t("views.dashboard.autopost.delete") %></a>

      <% if autopost.profile_pins.any? %>
        <%= form_for(autopost.profile_pins.first) do |f| %>
          <button class="crayons-btn crayons-btn--ghost crayons-btn--s"><%= t("views.dashboard.autopost.unpin") %></button>
        <% end %>
      <% else %>
        <%= form_for(ProfilePin.new) do |f| %>
          <%= f.hidden_field :pinnable_id, value: autopost.id %>
          <button class="crayons-btn crayons-btn--ghost crayons-btn--s" title="<%= t("views.dashboard.autopost.pin.title") %>"><%= t("views.dashboard.autopost.pin.text") %></button>
        <% end %>
      <% end %>
    <% elsif autopost.published %>
      <a href="<%= autopost.path %>/manage" class="crayons-btn crayons-btn--ghost crayons-btn--s" aria-label="<%= t("views.dashboard.autopost.manage.aria_label", title: autopost.title) %>"><%= t("views.dashboard.autopost.manage.text") %></a>
    <% elsif @user == autopost.user %>
      <a href="<%= autopost.path %>/delete_confirm" data-no-instant class="crayons-btn crayons-btn--ghost-danger crayons-btn--s"><%= t("views.dashboard.autopost.delete") %></a>
    <% end %>
    <a href="<%= autopost.path %>/edit" class="crayons-btn crayons-btn--ghost crayons-btn--s" aria-label="<%= t("views.dashboard.autopost.edit.aria_label", title: autopost.title) %>"><%= t("views.dashboard.autopost.edit.text") %></a>

    <div class="js-ellipsis-menu relative inline-block">
      <button id="ellipsis-menu-trigger-<%= autopost.id %>" aria-controls="ellipsis-menu-dropdown-<%= autopost.id %>" aria-expanded="false" aria-haspopup="true" class="crayons-btn crayons-btn--ghost crayons-btn--s crayons-btn--icon">
        <%= inline_svg_tag("overflow-horizontal.svg", aria: true, class: "crayons-icon", title: t("views.dashboard.autopost.more.title", title: autopost.title)) %>
      </button>

      <div id="ellipsis-menu-dropdown-<%= autopost.id %>" class="crayons-dropdown top-100 right-0 align-left js-ellipsis-menu-dropdown">
        <a href="<%= autopost.path %>/stats" class="crayons-link crayons-link--block w-100"><%= t("views.dashboard.autopost.stats") %></a>
        <%= form_for(autopost, method: :patch, remote: true, authenticity_token: true, html: { "data-type": "json", class: "js-archive-toggle" }) do |f| %>
          <%= f.hidden_field :archived, value: !autopost.archived, id: "article_archived_#{autopost.id}" %>

          <button type="submit" class="crayons-link crayons-link--block w-100 border-0 bg-transparent">
            <%= t("views.dashboard.autopost.#{autopost.archived ? 'unarchive' : 'archive'}") %>
          </button>
        <% end %>

        <% if organization && org_admin %>
          <%= form_for(autopost, html: { class: "mt-4 pt-4 border-0 border-t-1 border-color-base-10 border-solid" }) do |f| %>
            <input type="hidden" name="destination" value="/dashboard/organization/<%= organization.id %>" />
            <div class="crayons-field mb-4">
              <label for="user_id" class="crayons-field__label"><%= t("views.dashboard.autopost.author") %></label>
              <%= f.select :user_id, options_for_select(organization.users.pluck(:name, :id), autopost.user_id), {}, { class: "crayons-select" } %>

            </div>
            <button type="submit" class="crayons-btn"><%= t("views.dashboard.autopost.save") %></button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
